body {
  background-color: #1c9888;
  border: 0;
}
.container {
  margin: 0 auto;
  width: 750px;
  min-height: 100%;
  background-color: transparent;
  border: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}
.header {
  font-size: 30px;
  text-align: center;
  margin-bottom: 15px;
  color: #fff;
}
.task-list {
  width: 250px;
  margin: 5px 5px;
  background-color: #f6f6f6;
  min-height: 240px;
  border-radius: 10px;
  padding-bottom: 15px;
}
.task-list input,
.task-list textarea {
  width: 240px;
  margin: 1px 5px;
}
.task-list input {
  height: 30px;
}
.task-list input[type="button"] {
  width: 100px;
  margin: 5px;
  margin: 5px;
}
.btn {
  background-color: #f6f6f6;
  border: solid 2px #1c9888;
  border-radius: 5px;
  color: #1c9888;
  outline: none;
}
.btn:hover {
  background-color: #1c9888;
  color: #f6f6f6;
}
.todo-task {
  border-radius: 5px;
  background-color: #fff;
  width: 230px;
  margin: 5px;
  padding: 5px;
}
.task-header {
  font-weight: bold;
  overflow-wrap: break-word;
  width: 200px;
  min-height: 10px;
}
.task-date {
  font-size: small;
  font-style: italic;
}
.task-description {
  font-size: smaller;
  width: 200px;
  overflow-wrap: break-word;
  min-height: 10px;
}
h1 {
  color: #f6f6f6;
  text-align: center;
}
h3 {
  text-align: center;
  color: #1c9888;
}
.todo-item {
  background-color: mintcream;
  border-radius: 5px;
  margin: 5px;
  max-height: 100%;
  display: flex;
}
.scroll {
  overflow: scroll;
}
.todo-container,
.todo-tasked-container {
  min-height: 100px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.contained-item {
  width: 200px;
}
.del {
  border-radius: 15px;
  border: none;
  outline: none;
  color: red;
  background-color: mintcream;
}
